<script src="/pagefind/pagefind-ui.js"></script>
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		new PagefindUI({
			element: "#search",
			showSubResults: false,
			pageSize: 8,
			showImages: false,
			showEmptyFilters: false,
			resetStyles: true,
			excerptLength: 15,
			translations: {
				placeholder: "Nhớ gõ tiếng Việt có dấu nha!",
				zero_results: "Không có kết quả cho [SEARCH_TERM]",
				clear_search: "Hủy",
				load_more: "Hiện thêm kết quả",
				"search_label": "Tìm kiếm",
				"filters_label": "Bộ lọc",
				"many_results": "Có [COUNT] kết quả cho từ khóa [SEARCH_TERM]",
				"one_result": "Chỉ có [COUNT] kết quả cho từ khó [SEARCH_TERM]",
				"alt_search": "Không có kết quả cho từ khóa [SEARCH_TERM]. Hiện kết quả tương tự [DIFFERENT_TERM]",
				"search_suggestion": "Không có kết quả cho từ khóa [SEARCH_TERM]. Hãy thử tìm bằng từ khóa này:",
				"searching": "Đang tìm từ khóa [SEARCH_TERM]...",
			}
		});
	});
</script>
