{{ define "main" }}
<section class="mw-2 mx-auto select-none">
	<div class="bright fade-1 toolbar mb-0">
		<h2 style="font-size: 1.2rem; margin: 0;">Bài viết gần đây</h2>
		<a class="ml-auto btn" href="/posts" title="Tất cả bài viết">
			<img alt="archive" class="icon" src="/all.svg">
			<div class="btn-text">Tất cả</div>
		</a>
	</div>

	{{/* RECENT POSTS */}}
	<section class="recent">
		{{ $pages := where .Site.RegularPages ".Params.date" "!=" nil }}
		{{ $paginator := .Paginate $pages }}
		{{ range $index, $page := $paginator.Pages }}
		<a href="{{ .Permalink }}">
			<div class="recent-entry">
				{{/* title */}}
				<h2 class="thin medium recent-title">{{ .Title }}</h2>
				{{ $tag := index .Params.tags 0 }}
				<p class="bold fade small recent-tags"> #{{ $tag }}</p>
				{{/* description */}}
				<p class="small thin fade">{{ .Description }}</p>
				{{/* tags */}}
			</div>
		</a>
		{{ end }}
	</section>

	{{/* NAVIGATION BUTTONS */}}
	<nav class="mx-auto mw-0 mt-1 flex">
		{{ with $paginator }}

		{{/* show more recent posts */}}
		{{/* set opacity to .2 if at the begining of the list */}}
		{{ if .HasPrev }}
		<a class="btn" title="Bài viết mới hơn" href="{{ $paginator.Prev.URL }}">
			{{ else }}
			<a style="opacity: .2" title="Bài viết mới hơn" class="btn" href="#">
				{{ end }}
				<img alt="newer posts" style="rotate: 180deg" class="icon" src="/right.svg">
			</a>

			{{/* show older posts */}}
			{{/* set opacity to .2 if at the end of the list */}}
			{{ if .HasNext }}
			<a class="btn ml-auto" title="Bài viết cũ hơn" href="{{ $paginator.Next.URL }}">
				{{ else }}
				<a style="opacity: .2" title="Bài viết cũ hơn" class="ml-auto btn" href="#">
					{{ end }}
					<img alt="older posts" class="icon" src="/right.svg">
				</a>
				{{ end }}
	</nav>

	<hr>

	<article> {{ .Content }} </article>
	{{ end }}
