{{ define "main" }}

<div class="bold select-none text-right small">
	{{ if .Params.date }}
	<p class="thin">{{ .Date | dateFormat (.Site.Params.dateformat | default "Ngày 2 tháng 1 năm 2006") }}</p>
	{{ end }}

	{{ if .Params.tags }}
		{{ range $index, $tag := .Params.tags }}
		<a class="thin fade" href="/{{ $tag }}">#{{ $tag }} </a>
		{{ end }}
	{{ end }}
</div>


{{ if gt (len .TableOfContents) 200 }}{{ partial "toc.html" . }}{{ end }}
<article class="{{ if isset .Params "tone" }}lyrics{{ end }}">

	{{ if .Params.tone }}{{ partial "chord.html" . }}{{ end }}
	{{ .Content }}


</article>

<section>
	{{ partial "related.html" . }}
</section>

{{ end }}
