:root {
	cursor: default !important;
	font-size: 110%;
	line-height: 1.6rem;
	--normal: 1rem;
	--small: 0.9rem;
	--tiny: 0.80rem;
	--regular: 400;
	--medium: 500;
	--bold: 600;
	--small-radius: 0.25rem;
	--medium-radius: 0.375rem;
	--big-radius: 0.5rem;
	--sans: Cabin;
	--serif: Crimson Pro;
	--mono: IosevkaTerm;
	--bright: #efefef;
	--fg: #dfdfdf;
	--fg1: #999;
	--fg2: #888;
	--bg: #181818;
	--bg1: #202020;
	--bg2: #282828;
	--bg3: #303030;
	--bg4: #353535;
	--black: #606060;
	--white: #9da5ad;
	--red: #bc646d;
	--orange: #ca8773;
	--yellow: #c19c54;
	--green: #799d5c;
	--cyan: #80c6d9;
	--blue: #76a3db;
	--pink: #ce81b5;
	--red-gradient: linear-gradient(0deg, rgba(204,71,71,1) 0%, rgba(214,96,85,1) 100%);
	--green-gradient: linear-gradient(0deg, rgba(68,170,81,1) 0%, rgba(109,184,121,1) 100%);
	--orange-gradient: linear-gradient(0deg, rgba(227,154,78,1) 0%, rgba(236,162,61,1) 100%);
	--blue-gradient: linear-gradient(0deg, rgba(66,88,98,.6) 10%, rgba(0,0,0,0) 100%);
	--icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2901%)
	hue-rotate(10deg) brightness(116%) contrast(73%);
	--selection-fg: var(--fg);
	--selection-bg: var(--green);
}

@media (prefers-color-scheme: light) {
	:root {
		--bright: #404040;
		--fg: #555;
		--fg1: #666;
		--fg2: #707070;
		--bg: #fff;
		--bg1: #f9f9f9;
		--bg2: #f4f4f4;
		--bg3: #e8e8e8;
		--bg4: #d0d0d0;
		--code-fg: #555;
		--black: #888;
		--white: #ccc;
		--red: #cd5555;
		--orange: #d27a5f;
		--yellow: #d2b14d;
		--green: #7cc143;
		--cyan: #6ebdb3;
		--blue: #6f9fc7;
		--pink: #c066bd;
		--red-gradient: linear-gradient(0deg, rgba(208,49,49,1) 0%, rgba(228,74,74,1) 100%);
		--green-gradient: linear-gradient(0deg, rgba(72,182,81,1) 0%, rgba(96,204,94,1) 100%);
		--orange-gradient: linear-gradient(0deg, rgba(208,112,49,1) 0%, rgba(232,130,103,1) 100%);
		--blue-gradient: linear-gradient(0deg, rgba(221,236,245,1) 0%, rgba(248,253,255,1) 100%);
		--icon: brightness(0) saturate(100%) invert(30%) sepia(18%) saturate(29%) hue-rotate(326deg) brightness(100%) contrast(96%);
		--selection-fg: var(--bg);
		--selection-bg: var(--green);
	}
}
@media screen and (max-width: 600px) {
	.icon { width: 1.6rem; }
	header { min-height: 2.4rem; height: 2.4rem; }
	header a { margin: 0 2rem; }
	header p { display: none; }
	body { padding: 0 .2rem; }
	.content video, .content img { display: block; margin: .5rem auto; }
	.left, .right { float: none !important; }
	:root { font-size: 100%; }
}
html {
	font-family: var(--sans);
	tab-size: 4;
	color: var(--fg);
	background: var(--bg);
	margin: 0;
}
body { max-width: 65ch; margin: 0 auto; padding: 0 5% 2rem; }
.paragraph { margin: 1.2rem 0; }

/* ICON */
.icon {
	vertical-align: middle;
	width: 1.5rem;
	height: 1.5rem;
	filter: var(--icon);
}
.description {
	text-align: center;
	font-style: italic;
	line-height: 1.2rem;
	margin: 0;
}

.toolbar {
	justify-content: center;
	display: flex;
	align-items: center;
}

/* SPACING FOR ANCHOR */
:target:before { content: ""; display: block; height: 4.6rem; margin-top: -4.6rem; }

/* TITLE */
.title {
	font-size: var(--small);
	font-family: var(--sans);
	font-weight: var(--bold);
	white-space: nowrap;
} 
.imageblock .title {
	color: var(--fg1);
	font-size: var(--small);
	font-weight: var(--medium);
	line-height: 1.2rem;
	text-align: center;
	white-space: wrap;
	max-width: 40ch;
	margin: auto;
}
.imageblock {
	margin: 2rem 0;
}
.content video, .content img {
	border-radius: var(--big-radius);
	max-height: 600px;
	max-width: 100%;
}

/* SHIFT COLORS BRIGHTNESS UP ONE LEVEL FOR CHILD BLOCKS */
.admonitionblock .listingblock,
.admonitionblock code,
details .admonitionblock,
details .highlight,
details .listingblock,
details code {
	outline-color: var(--bg3);
	background: var(--bg2);
}

/* BUTTON */
.btn {
	white-space: nowrap;
	display: flex;
	padding: 0.3rem 0.4rem;
}
.btn-text {
	font-size: var(--small);
	font-weight: var(--bold);
	padding-left: 0.3rem;
	line-height: 1.5rem;
}

/* SELECTION */
::selection { color: var(--selection-fg); background: var(--selection-bg); }

/* HEADINGS */
h1, h2, h3, h4, h5, h6, b, strong { font-weight: var(--bold); }
h1, h2, h3, h4, h5, h6 { color: var(--bright); }
h2, h3 { margin-top: 2rem; margin-bottom: 1rem; }
h1 { font-size: 2.2rem; line-height: 2.8rem; letter-spacing: -.08rem; word-spacing: -.1rem }
h2 { font-size: 1.8rem; line-height: 2.2rem; }
h3 { font-size: 1.5rem; line-height: 1.6rem; }
h4 { font-size: 1.2rem; line-height: 1.4rem; }

/* disable touch, click highlight */
* { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

pre { padding: 1rem 0; border-radius: var(--big-radius); overflow-x: scroll; }
mark { font-size: 1rem; color: var(--fg); background: var(--orange); }
hr {
	border: 0;
	outline: 0;
	width: 20%;
	margin: 3rem auto;
	border-top: solid 2px var(--bg3);
}
blockquote, h1, pre, p, .highlight table pre { margin: 0 }
