/* LINKS */
.paragraph > p > a {
	text-decoration: underline 2px var(--bg3);
	font-weight: var(--bold);
	color: var(--bright);
	transition: all .2s;
	@media (min-width: 600px) {
		&:hover {
			background: var(--blue-gradient);
			text-decoration: underline 2px var(--blue);
		}
	}
}
.ulist a, .ulist a {
	text-decoration: underline 2px var(--bg2);
	font-weight: var(--regular);
	color: var(--bright);
}
a {
	cursor: default;
	text-decoration: none;
	color: var(--fg);
}
