/* CHORD & LYRIC */
.chord {
	background: var(--bg2);
	color: var(--fg1);
	border-radius: var(--small-radius);
	padding: 0 0.3rem;
	font-weight: 700;
	font-size: var(--small);
	font-family: var(--mono);
}
.lyrics > .paragraph { line-height: 1.6rem; margin: 0; }
