/* RECENT POSTS */
.recent {
	padding: .5rem;
	background: var(--bg1);
	border-radius: var(--big-radius);
}

.recent-entry {
	display: block;
	padding: .8rem;
	border-bottom: solid 1px var(--bg2);
	transition: background .2s, border-radius .4s;
	@media (min-width: 600px) {
		&:hover {
			border-radius: var(--big-radius);
			background: var(--bg2);
		}
	}
}

.recent-entry:last-of-type {
	border-bottom: solid 1px transparent;
}

.recent-title {
	font-size: 1.2rem;
	line-height: 1.6rem;
	display: inline-block;
}

.recent-tags {
	border-radius: var(--small-radius);
	display: inline-block;
	margin-left: 2px
}

.recent-btn {
	line-height: 1rem;
	display: inline-flex;
	padding: 0.4rem;
}

