/* SMALL LIST */
.posts {
	border-radius: .2rem;
	padding: .2rem;
	border-bottom: solid 1px var(--bg1);
	transition: background .2s;
	@media (min-width: 600px) {
		&:hover {
			background: var(--bg2);
		}
	}
}
.posts:last-of-type { border-bottom: none; }
