/* TABLE OF CONTENTS */
#TableOfContents {
	background: var(--bg1);
	padding: 0.5rem;
	color: var(--fg1);
	font-weight: var(--bold);
	position: relative;
	line-height: 1.2rem;
	border: solid 1px var(--bg2);
	border-top: 0;
	border-bottom-left-radius: var(--medium-radius);
	border-bottom-right-radius: var(--medium-radius);
}
#TableOfContents ul { margin: 0; }
#TableOfContents li { margin: .3rem 0; }

